[build-system]
requires = ["hatchling>=1.10.0", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "ipyautoui"
dynamic = ["version"]
description = "wrapper that sits on top of ipywidgets and other ipy widget libraries to template / automate the creation of widget forms. Uses pydantic to create defined data-container and serialisation to JSON. Includes example patterns for adding new custom widgets."
readme = "README.md"
authors = [{ name = "John Gunstone", email = "gunstone.john@gmail.com" }]
keywords = ["ipyautoui"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.9",
]
dependencies = [
    "immutables",
    "ipython",
    "ipywidgets>8",
    "ipydatagrid>=1.1.14",
    "ipyfilechooser",      # make optional
    "ipyvuetify",          # make optional
    "Markdown",
    "numpy",
    "openpyxl",            # for excel fiel viewer
    "pandas",
    "pydantic",
    "pytest",
    "PyYAML",
    "stringcase",
    "traitlets",
    "traitlets_paths",
    "wcmatch",
]

[project.urls]
Homepage = "https://github.com/maxfordham/ipyautoui"

[tool.hatch.version]
source = "vcs"
version-file = "_version.py"

[tool.hatch.build.targets.sdist]
include = ["/src/ipyautoui"]

# [tool.hatch.envs.ipyautoui-dev]
# type = "conda"
# command = "mamba"
# ^ don't understand how this works...

[tool.pytest.ini_options]
pythonpath = "src"
testpaths = ["tests"]
