ipydatagrid==1.0.6
traitlets==5.0.5
pandas==1.2.4
ipywidgets==7.6.3
ipyfilechooser==0.4.3
pytest==6.2.3
Markdown==3.3.4
cx_Freeze==6.8
ipython==7.27.0
py2exe==0.10.4.1
pydantic==1.8.2
stringcase
immutables
traitlets_paths
markdown
palettable