traitlets_paths==0.1.1
traitlets==5.1.1
requests==2.27.1
cx_Freeze==6.10
dataclasses==0.8
halo==0.0.31
immutables==0.16
ipydatagrid==1.1.11
ipyfilechooser==0.6.0
ipython==8.1.1
ipywidgets==7.6.5
Markdown==3.3.6
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.1
plotly==5.6.0
pydantic==1.9.0
pytest==7.0.1
PyYAML==6.0
stringcase==1.2.0
wcmatch==8.3
xmltodict==0.12.0
